{# from app/Resources/views/layout.html.twig to here #}   

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}GLOCATION{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    {% if app.request.get('_route') == 'fos_user_security_login' %}

        <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}" />
    {% endif %}
    <!--<link rel="stylesheet" href="{{ asset('bundles/ocplatform/plugins/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css') }}" />-->
    <!--<link rel="stylesheet" href="{{ asset('bundles/amine/css/main.css') }}" />-->
  {% endblock %}
</head>

<body>
  <div class="container">
   <div class="row">
      <div id="content" class="col-md-9">
        {% block body %}
		{% block fos_user_content %}{% endblock %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
    </footer>
  </div>
  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script src="{{ asset('bundles/ocplatform/plugins/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js') }}"></script>-->
  {% endblock %}

</body>
</html>
