
{% extends "::layout.html.twig" %}

{% block title %}
        Accueil - {{ parent() }}
{% endblock %}
{% block right %}
	{{ parent() }}
{% endblock %}	
{% block body %}
	<div style="text-align: center;">
		<h2> PARC DES VOITURE STE EL BEZAZI LOC </h2>
	</div>
	<div class="col-md-12">
		<div class="col-xs-12 col-md-6">
			<div>
				<h2>Comment ça marche ?</h2>
				<ul style="padding-top: 10px">
					<li>
						Déposez votre candidature
					</li>
					<li>
						Choisissez parmi nos <strong>offres d'emploi</strong> les mieux <strong>adaptées à votre profil</strong> grâce à notre système de <strong>matching intelligent</strong>
					</li>
					<li>
						Visualisez les dernières offres d'emploi publiées
					</li>
					<li>
						Vous êtes une entreprise ? Un espace recruteur est fait pour vous!
					</li>
					<li>
					   bas conseil est pour vous
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			 <div>
				<h2>Votre Equipe au complet en un temps record</h2>
				<ul style="padding-top: 10px">
					<li>
						Ne perdez plus le temps
					</li>
					<li>
						Les candidats avec qui vous entrez en contact comptent parmi les meilleurs dans leurs domaines
					</li>
					<li>
						Ils sont disponibles immédiatement
					</li>
					<li>
						Ils sont là que pour vous 
					</li>
					<li>
					   bas conseil est pour vous
					</li>
				 </ul>
			</div>
		</div>
	</div>
	<div><a href="{{ path('easyadmin') }}">Espace GLocation</a></li></div>
{% endblock %}